<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserMaxSdkVersion="32"
    android:versionName="1.0"
    tools:ignore="ExtraText"
    tools:targetApi="tiramisu">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.MY_CUSTOM_PERMISSION"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission
        android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission
        android:name="android.permission.SHUTDOWN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name="gui.MyApp"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stx_dig"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31">
        <activity
            android:name="gui.hydro.NOBAS_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.NetworkConfigSettings"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Tilt_Rot_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.OEM_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Mast_Antenna"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="services.PointService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="drill_pile.gui.PickReport"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="drill_pile.gui.Drill_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="drill_pile.gui.Drill_Rod_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.ToolSensor"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.DrillToolCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.DrillEncoder"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.MastLinkCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Nuova_XYZ_Calib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.boot_and_choose.SpTestActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="utils.TestAxio"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.ECU_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.DOOSAN_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.CASE_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.KOMATSU_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.DEERE_LIEBHERR_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.CAT_SEA_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.hydro.Hydro_Activity_Entering"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Nuova_Blade_Calib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.boot_and_choose.LicenseFail_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.dialogs_user_settings.Nuova_User_Settings"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Nuova_Machine_Settings"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.my_opengl.My3DActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.boot_and_choose.Activity_Home_Page"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="drill_pile.gui.Ecu_Sensors_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="drill_pile.gui.Drill_MainPage"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="services.ReadProjectService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="services.CanService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="services.TriangleService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="services.CanSender"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
        <service
            android:name="services.UpdateValuesService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="services.DrillService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />

        <activity
            android:name="gui.projects.Remote_Activity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.projects.Activity_Crea_Superficie"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Tilt_Blade"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.gps.Nuovo_Gps"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.debug_ecu.Serial_Msg_Debug"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.grading_dozergrader.Grading3D_DXF"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.digging_excavator.Digging3D_DXF"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.updateapk.UpdateActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.debug_ecu.Can_Msg_Debug"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.projects.Usb_Project_Nova"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.GPS_Autocalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.DampingActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.profiles.ProfileCalibAuto"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.profiles.ProfileCalibManual"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.profiles.ProfilesMenuActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.CanOpenTSM"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.gps.BTPair"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.XYZ_Calib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.projects.PickProject"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.buckets.BucketCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.buckets.BucketCalibTilt"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.buckets.BucketChooserActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.TiltCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Boom1Calib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.Boom2Calib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.FrameCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.LinkageCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.StickCalib"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.digging_excavator.Digging_CutAndFill1D"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.digging_excavator.Digging_CutAndFill2D"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.digging_excavator.Digging1D"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.digging_excavator.Digging2D"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.digging_excavator.DiggingProfile"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.debug_ecu.DebugExcavatorActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.debug_ecu.CoordinateDebugActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.tech_menu.ExcavatorChooserActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="gui.boot_and_choose.LaunchScreenActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter android:priority="100">
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.HOME" /> ! -->

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="utils.UsbReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.stx_digging.USB_PERMISSION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="gui.boot_and_choose.StartActivityOnBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </receiver>
        <receiver
            android:name="gui.boot_and_choose.ApkDownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>